@using EWS.Web.Models;
@model EWS.Web.Models.QuoteStart_Model

@{
    ViewBag.Title = "Extended Warranty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/custom/GetList.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=radio][name=Mode]').change(function () {
                if (this.value == '2') {
                    //alert("Equipment!");
                    $("#QuoteRef").attr("disabled", false);
                }
                else if (this.value == '1') {
                    //alert("Current!");
                    $("#QuoteRef").attr("disabled", true);
                }
            });
        });
    </script>
}

<div class="container-fluid">
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    @*<h2>New Quote</h2>*@
    @*<div class="pull-right bottom-gap-10">
            <a href="@Url.Action("Index")" class="btn btn-default throbber"><span class="glyphicon glyphicon-backward"></span>&nbsp;Back to List</a>
        </div>*@
    <div class="row">
        <div class="col-xs-12 bottom-gap-20">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Calculation Mode</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm(MVC.Quote.NewQuote(), FormMethod.Post, new { role = "form", id = "SearchForm"}))
                    {
                        <div class="form-horizontal">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Mode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-6  col-md-5 col-lg-4">

                                    <div class="checkbox">
                                        @Html.RadioButtonFor(model => model.Mode, "1")  Current
                                    </div>

                                    <div class="checkbox">
                                        @Html.RadioButtonFor(model => model.Mode, "2", new { @checked="checked"})  Equipment
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-5 col-lg-6"></div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.QuoteRef, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-6  col-md-5 col-lg-4">
                                    @Html.EditorFor(model => model.QuoteRef, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-sm-4 col-md-5 col-lg-6">
                                    <button id="btnSearch" type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="control-label col-md-2"></span>
                                <div class=" col-md-10">
                                    <div id="Spinner" align="center" class="hidden">
                                        <img src="~/Images/Loading.gif" />
                                        <b>Fetching results...</b>
                                    </div>
                                    <div id="AutoList" class="show">

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-10 col-md-1">
                                    @*<span class="btn btn-primary throbber">
                                        @Html.ActionLink("Next", MVC.Quote.EquipmentCalculation(Model.QuoteRef), new { @class = "btn-primary" })
                                        &nbsp;<span class="glyphicon glyphicon-step-forward"></span>
                                    </span>*@
                                    <button type="submit" value="Search" class="btn btn-primary throbber">
                                        Next&nbsp;<span class="glyphicon glyphicon-step-forward"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>





